.modal {
    position: fixed;
    top: 50px;
    right: 300px;
    width:600px;
    background: white;
  }
  .fa-window-close-o{
      color:red;
      cursor:pointer;
      margin-left:20px;
     
  }

  .fa-pencil-square-o {
    padding:4px 0 4px 0;
    
  }

  .fa-trash-o{
    padding:4px 0 4px 0;
    
  }
 
  .customersForm{
      border:solid;
      border-color: #dddddd;
      height:350px;

  }

  .saveBtn{
      color:White;
      background-color: #7e8c8c;
      font-size:12px;
	    font-weight:bold;
	    height:30px;
      width:80px;
      padding:0;
      margin-left:25px;
      
	      
  }
  button:focus { outline:0 }

  .savebtn{
    margin-left:20px;
  }
  .customerListLabel {
      margin-top:25px;
      width:250px;
      padding: 5px;
  }

  .customerListLabel li{
      margin-bottom:25px;
      font-size: 12px;
      
  }

  .customerListInput input{
      margin-bottom:20px;
      width:375px;
      padding:0;
  }

   .customerListInput {
    margin-top:25px;
    width:375px;
    
}


  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }