.customerForm{
    height:250px;
    width:550px;
    margin-left:200px;
    border:0;
    text-align:left;
}

.saveButton{
    background-color:#7e8c8c;
    color:white;
    font-size:12px;
    font-weight:bold;
    height:30px;
    width:80px;
}
.savebutton{
    margin-left: 15px;
}

.customerListinput{
    width:350px;
    border:0;
    padding:0;
    margin:0;
    margin-top:30px;

}

.tableHeading{
 font-weight:bold;
 font-size:12px;
}

.customerListinput input{
   width:350px; 
   margin-bottom:17px;
}

.saveButton{
    margin-left:20px;
}