* {
	box-sizing: border-box;
	position: relative;
}

.App {
  text-align: center;
}



ul{
	list-style: none;
	margin-left:10px;	
}




[class*="grid-"] {
	float: left;
	padding: 5px;
	position: relative;
	 }

.grid-12 {
	width: 100%
}

.grid-11 {
	width: 91.66666667%
}

.grid-10 {
	width: 83.33333333%
}

.grid-9 {
	width: 75%
}

.grid-8 {
	width: 66.66666667%
}

.grid-7 {
	width: 58.33333333%
}

.grid-6 {
	width: 50%
}

.grid-5 {
	width: 41.66666667%
}

.grid-4 {
	width: 33.33333333%
}

.grid-3 {
	width: 25%
}

.grid-2 {
	width: 16.66666667%
}
.grid-1 {
	width: 8.33333333%
}
.grid-0{width:fit-content;}

.greenActive{
	background-color: #01561c;
	color:white;
	font-size:12px;
	font-weight:bold;
	height:40px;
	width:90px;
	margin-left:15px;
}

.user_login{
    border-style: solid;
    padding-top:10px;
    padding-bottom:10px;
    height:50px;
    border-color:#d3d3d3;
    border-bottom-width: 0.5ch;
    border-top-width:0.1ch;
}

.loginText{
    color:#7e909c;
    font-size: 12px;
    padding-right:5px;
    font-weight:bold;
}
.fa-power-off{
    color:red;
    font-size:12px;
    cursor: pointer;
    }


